@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@600&family=Pacifico&display=swap');
.No_data_found {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.one-edge-shadow {
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    /* border-radius: 50px; */
    
}