@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@600&family=Pacifico&display=swap');
.brand_text {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.god_text {
    /* font-weight: bold; */
    font-size: 20px;
    font-family: 'Khula', sans-serif;
}

.header
{
    background-color: #ff5821;
}



.hide
{
    display:none;
}

#date:hover + .hide
{
    display:block;
    
}