<div class="container mb-5">
    <div class="card m-auto">
        <div class="card-header header text-white brand_text_header">
            Soni Brass Band Booking Form
        </div>
        <div class="card-body">
            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" #bookingObj="ngForm">
                <div class="row">
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Customer Name</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Booking Date</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Contact Number</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <input formControlName="customerName" type="text" [ngClass]="{ 'is-invalid': submitted && f.customerName.errors }" class="form-control" name="customer_name"
                                placeholder="Customer Name">

                                <!-- <input type="text" [(ngModel)]="customer_obj.name" class="form-control" name="customer_name"
                                placeholder="Customer Name"> -->
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="row">
                                <div class="input-group col-xs-12 col-12 col-md-12 form-group">
                                    <input formControlName="bookingDate"  type="text" placeholder="Datepicker" name="bookingDate" class="form-control"
                                        bsDatepicker placeholder="Booking Date" aria-label="Recipient's username"
                                        aria-describedby="basic-addon2" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <!-- <div class="form-group">
                            <input type="text" required class="form-control" name="contact_number" >
                        </div> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">+91</span>
                            </div>
                            <input type="text" class="form-control" formControlName="contactNumber" name="contacts"
                                placeholder="941XXXXXXX" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <a class="btn btn-outline-primary" (click)="addContact()"
                                    id="button-addon2" >+</a>
                            </div>
                        </div>
                        <div *ngFor="let item of contacts; let i=index">
                            <span class="badge badge-primary">{{item}} <span (click)="removeContact(i)"
                                    style="cursor: pointer;">X</span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary">Timmings</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary">Members</h5>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="customer_name">From</label>
                                    <timepicker formControlName="timeFrom" name="timrFrom" id="time_from" [mousewheel]="allowMouseWheel"
                                    ></timepicker>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="customer_name">To</label>
                                    <timepicker formControlName="timeTo" name="timeTo" id="time_to" [mousewheel]="allowMouseWheel"
                                    ></timepicker>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6" style="margin-top: 60px;">
                        <div class="input-group mb-3">
                            <!-- <input type="text" required class="form-control" name="members" placeholder="Members"> -->
                            <input  name="items" formControlName="items" [typeahead]="states" [typeaheadMultipleSearch]="true"
                                typeaheadMultipleSearchDelimiters=",|+" class="form-control" placeholder="Items" autocomplete="off" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger" type="button" 
                                        id="button-addon2">X</button>
                                </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary">Venue Address</h5>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="card-title text-primary">Hotel/Guest House Name</h5>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <textarea formControlName="venueAddress" class="form-control" name="venueAddress" rows="3"
                                placeholder="Venue Address" ></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <textarea formControlName="hotelAddress" class="form-control" name="hotelName" placeholder="Hotel/Guest House Address"
                                rows="3" ></textarea>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Billing Amount</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Advance Amount</h5>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="card-title text-primary">Remaining Amount</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="billing_amnt"></label>
                            <input type="text" required class="form-control" formControlName="bill_amnt"  name="billingAmnt"
                                placeholder="Billing Amount" >
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="advance_amnt"></label>
                            <input type="text" required class="form-control" formControlName="adv_amnt"  name="advanceAmnt" placeholder="Advance" [ngClass]="{ 'is-invalid': submitted && f.adv_amnt.errors }">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="remaining_amnt"></label>
                            <input type="text" required class="form-control" formControlName="remaining_amnt" name="remainingAmnt"
                                placeholder="Remaining Amount" >
                        </div>
                    </div>
                </div>
                <h5 class="card-title text-primary mb-3">Local Address</h5>
                <div class="form-group">
                    <textarea class="form-control" formControlName="localAddress"  name="localAddress" rows="3" placeholder="Local Address" [ngClass]="{ 'is-invalid': submitted && f.localAddress.errors }"></textarea>
                </div>
                <h5 class="card-title text-primary mb-3">Note</h5>
                <div class="form-group">
                    <textarea class="form-control" formControlName="note"  name="note" rows="3" placeholder="Notes..." [ngClass]="{ 'is-invalid': submitted && f.note.errors }"></textarea>
                </div>
              
                <div class="row">
                    <div class="col-lg-12">
                        <div class="float-right pt-3">
                            <button type="submit" class="btn btn-outline-primary px-5 mx-2">Submit</button>
                            <!-- <button type="button" class="btn btn-outline-danger px-5 mx-2">Cancel</button>
                            <button type="reset" class="btn btn-outline-warning px-5 mx-2" (click)="onReset()">Clear</button> -->
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-footer text-white footer">
            <section class="float-right"><strong><I>SONI BRASS BAND</I><sup><span>&#169;</span></sup></strong></section>
        </div>
    </div>
</div>